:root {
    --primary-color: #2c3e50;
    --accent-color: #1abc9c;
    --text-color: #0d0c0c;
    --button-bg: #1abc9c;
    --button-hover: #057c64;
}

body {
    background: linear-gradient(to top, var(--primary-color), var(--accent-color));
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

header{
    background-color:#1f4f5f;
    text-align:center;
    color:white;
}

header h1{
    padding-top:40px;
    font-size:40px;
}

.tagline{
    margin-top:10px;
    margin-bottom:30px;
}

nav{
    background-color:#0d1b2a;
    padding:15px;
}

.pill{
    color: white;
    text-decoration: none;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 20px;
}

nav a:hover{
    color:#2dbf9a;
}

#about p{
    max-width:700px;
    margin-bottom:16px;
}

section {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 30px auto;
    padding: 30px;
    width: 80%;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

section h2 {
    font-size: 36px;
    margin-bottom: 15px;
    color: white;
}

button {
    background-color: var(--button-bg);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--button-hover);
}