:root {
    --primary-color: #2c3e50;
    --accent-color: #1abc9c;
    --text-color: #0d0c0c;
    --button-bg: #1abc9c;
    --button-hover: #057c64;
}

body {
    background: linear-gradient(to top, var(--primary-color), var(--accent-color));
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

header{
    background-color:#1f4f5f;
    text-align:center;
    color:white;
}

header h1{
    padding-top:40px;
    font-size:40px;
}

.tagline{
    margin-top:10px;
    margin-bottom:30px;
}

nav{
    background-color:#0d1b2a;
    padding:15px;
}

.tag{
    background-color: rgba(255,255,255,0.2);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
}

.pill{
    color: white;
    text-decoration: none;
}

.project-buttons{
    display:flex;
    gap:10px;
    margin-top:20px;
}

.project-buttons button{
    padding:10px 15px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.project-tags{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 20px;
}

nav a:hover{
    color:#2dbf9a;
}

#about p{
    max-width:700px;
    margin-bottom:16px;
}

section {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 30px auto;
    padding: 25px;
    width: 65%;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

section h2 {
    font-size: 36px;
    margin-bottom: 15px;
    color: white;
}

button {
    background-color: var(--button-bg);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--button-hover);
}

/* PROJECT SHOWCASE */

.project-content{
    display:flex;
    gap:40px;
    align-items:flex-start;
}

.project-info{
    flex:2;
}

.project-image{
    flex:1;
}

.project-image img{
    width:100%;
    border-radius:12px;
    object-fit:cover;
}

#project-points{
    margin-top:15px;
    padding-left:20px;
}

#project-points li{
    margin-bottom:10px;
}

.project-buttons{
    display:flex;
    gap:10px;
    margin-top:20px;
}

.project-buttons button{
    background:#2dbf9a;
    color:white;
    border:none;
    padding:10px 16px;
    border-radius:8px;
    cursor:pointer;
}

.project-buttons button:hover{
    background:#24a887;
}

.education-card{
    margin-top:15px;
    padding:15px;
    background-color:rgba(255,255,255,0.08);
    border-radius:12px;
}

.education-card h3{
    margin-bottom:10px;
}

.education-school{
    font-weight:bold;
    margin-bottom:10px;
}

.education-date{
    color:rgba(255,255,255,0.8);
    margin-bottom:15px;
}

/* MOBILE */

@media (max-width: 900px){

    .project-content{
        flex-direction:column;
    }

    .project-image{
        width:100%;
    }
}